[Unit]
Description=Gunicorn instance serving xyz
Requires=gunicorn.socket
After=network.target

[Service]
User=someuser
Group=pi
WorkingDirectory=/path/to/myproject
ExecStart=/path/to/virtualenv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/path/to/myproject/myproject.sock myproject.wsgi:application

[Install]
WantedBy=multi-user.target
