{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div id="indicator" class="spinner-overlay htmx-indicator">
      <div class="d-flex justify-content-center">
        <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem; z-index: 20;">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="align-center col-10 offset-1">
        <div class="d-flex justify-content-between align-items-center">
            <p class="lead ml-0">Cards</p>
            <form hx-post="{% url 'app:create-card' %}" hx-target='#card-list' class="d-flex align-items-center" method="POST">
                {% csrf_token %}
                <input type="text" name="spotify_uid" class="form-control-sm mr-2" placeholder="Enter uid" />
                <select name="spotify_type" class="form-control-sm mr-2" placeholder="Enter type" >
                  <option value="AL">Album</option>
                  <option value="TR">Track</option>
                  <option value="PL">Playlist</option>
                </select>
                <button hx-post='{% url "app:create-card"%}' hx-target='#card-list' hx-indicator="#indicator" type="submit" class="btn btn-success btn-sm">
                    Train Card
                </button>


            </form>
        </div>
        <hr/>

        <div id="card-list">
            {% include 'pages/card-list.html' %}
        </div>
    </div>
{% endblock content %}

{% block inline_javascript %}

{% endblock inline_javascript %}