{% extends "base.html" %}

{% block content %}

    <div class="container text-center">
    <h1>Antonia - Toniebox clone</h1>
      <div class="row g-2">
        <div class="col-6">
          <div class="p-3">
            {% if auth_url %}
                <a type="button" class="btn btn-primary" id="sign_in" href="{{ auth_url }}">Sign in</a>
            {% else %}
                {% for device in data.devices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="speakers" id="{{ device.id }}" value="{{ device.id }}">
                        <label class="form-check-label" for="{{ device.id }}">
                            {{ device.name }} - {{ device.id }}
                        </label>
                    </div>
                {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="col-6">
          <div class="p-3">
              {% if not auth_url %}

                  <form method="post" action="{% url 'app:sign_out' %}">
                  {% csrf_token %}
                    <button type="submit" class="btn btn-primary">sign out</button>
                  </form>
                  <button type="button" class="btn btn-primary" id="start_thread">Start Thread</button>
                  <button type="button" class="btn btn-primary" id="stop_thread">Stop Thread</button>
              {% endif %}
          </div>
        </div>
        <div class="col-6">
          <div class="p-3">
              <input type="text" class="form-control" id="spotify_uid"  placeholder="Enter spotify uid">
              <button type="button" class="btn btn-primary" id="train_card">Train card</button>
          </div>
        </div>
        <div class="col-6">
          <div class="p-3">Custom column padding</div>
        </div>
      </div>
    </div>
{% endblock %}

{% block inline_javascript %}
<script>
    function update_results(data){
      $("#results").html("");
      $("#results").append(data);
    }

    $("#play_song").click(function(){
        var speaker_id = $('input[name="speakers"]:checked').val();
        $.ajax({
            url: "/app/play?speaker="+speaker_id,
            success: function(data){
              update_messages(data.messages);
            },
        });
      });

    $("#stop_song").click(function(){
        $.ajax({
            url: "/app/stop",
            success: function(data){
              update_messages(data.messages);
            },
        });
      });

    $("#start_thread").click(function(){
        $.ajax({
            url: "/app/thread/start",
            success: function(data){
              update_messages(data.messages);
            },
        });
      });

    $("#stop_thread").click(function(){
        $.ajax({
            url: "/app/thread/stop",
            success: function(data){
              update_messages(data.messages);
            },
        });
      });

    $("#train_card").click(function(){
        $("#train_card").html("").append('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Waiting for card...');

        var spotify_uid = $('#spotify_uid').val();
        $.ajax({
            url: "/app/train?spotify_uid="+spotify_uid,
            success: function(data){
              update_messages(data.messages);
              $("#train_card").html("").append('Train card');
            },
        });
      });


</script>
{% endblock inline_javascript %}

