{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <h1>Antonia - Toniebox clone</h1>

            {% if auth_url %}
                <a type="button" class="btn btn-primary" id="sign_in" href="{{ auth_url }}">Sign in</a>
            {% else %}
                {% for device in data.devices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="speakers" id="{{ device.id }}" value="{{ device.id }}">
                        <label class="form-check-label" for="{{ device.id }}">
                            {{ device.name }} - {{ device.id }}
                        </label>
                    </div>

                {% endfor %}
                <div class="col">
                    <button type="button" class="btn btn-primary" id="play_song">Play</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" id="stop_song">Stop</button>
                </div>


            {% endif %}

        </div>
        <div class="row justify-content-center">
            <div class="form-group">
                <label for="spotify_uid">Spotify UID</label>
                <input type="text" class="form-control" id="spotify_uid"  placeholder="Enter spotify uid">
            </div>
            <button type="button" class="btn btn-primary" id="train_card">Train card</button>
        </div>

    </div>

{% endblock %}

{% block inline_javascript %}
<script>
    function update_results(data){
      $("#results").html("");
      $("#results").append(data);
    }

    $("#play_song").click(function(){
        var speaker_id = $('input[name="speakers"]:checked').val();
        $.ajax({
            url: "/app/play?speaker="+speaker_id,
            success: function(data){
              update_messages(data.messages);
            },
        });
      });

    $("#stop_song").click(function(){
        $.ajax({
            url: "/app/stop",
            success: function(data){
              update_messages(data.messages);
            },
        });
      });

    $("#train_card").click(function(){
        $.ajax({
            url: "/app/train",
            success: function(data){
              update_messages(data.messages);
            },
        });
      });


</script>
{% endblock inline_javascript %}

